.new-account{
    color: white;
    border: 1px solid white;
    margin: 5px auto;
    padding: 40px 55px;
 
}

.container{
    padding: 35px;
    margin: 0;
}

.home-button{
    display: block;
    width: 100%;
}

.validate{
    color: #dc3545;
    float:right;
    font-style: none;
}
.navbar-brand{
    margin: 22px 175px;
}
.footer{
    margin-top:50px;
}
.login-link{
    color: white;
    float: right;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
}